@import url('https://fonts.googleapis.com/css?family=Annie Use Your Telescope');
body {
    font-family: 'Annie Use Your Telescope';
    background-color: #2A8588;
}

h1 {
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: 50px;
}

/* for striking through diagonally, from bottom left */

.strikediag {
    background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

.withpadding {
    padding: 0 0.15em;
}

#status {
    font-size: 50px;
}

.c2 {
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.r1 {
    border-bottom: 5px solid black;
}

.r2 {
    border-bottom: 5px solid black;
}

#reset {
    text-align: center;
    border: none;
    background: #B8BEDD;
    color: mediumaquamarine;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    margin: 50px auto;
    border-radius: 10px;
    padding: 0.6em 1.2em;
    letter-spacing: 1px;
}

#reset {
    background: #144E75;
}